<p><%= link_to "<< Back to Ticket listing", tickets_path %></p>
<h1>Ticket <%= @ticket.id %></h1>

<table>
  <tr>
    <td>Request Number:</td>
    <td><%= @ticket.request_number %></td>
  </tr>
  <tr>
    <td>Sequence Number:</td>
    <td><%= @ticket.sequence_number %></td>
  </tr>
  <tr>
    <td>Request Type:</td>
    <td><%= @ticket.request_type %></td>
  </tr>
  <tr>
    <td>Request Action:</td>
    <td><%= @ticket.request_action %></td>
  </tr>
  <tr>
    <td>Response Due DateTime:</td>
    <td><%= @ticket.response_due_date_time %></td>
  </tr>
  <tr>
    <td>Primary Service Area Code:</td>
    <td><%= @ticket.primary_service_area_code %></td>
  </tr>
  <tr>
    <td>Additional Service Area Codes:</td>
    <td><%= @ticket.additional_service_area_codes.join(', ') %></td>
  </tr>
</table>

<h2><%= "Excavator".pluralize(@excavators.count) %>:</h2>

<% if @excavators.count == 0 %>
  <p>(No Excavators found for this ticket)</p>
<% else %>

  <% @excavators.each do |excavator| %>
    <table>
      <tr>
        <td>ID:</td>
        <td><%= excavator.id %></td>
      </tr>
      <tr>
        <td>Company Name:</td>
        <td><%= excavator.company_name %></td>
      </tr>
      <tr>
        <td>Address:</td>
        <td><%= excavator.address %></td>
      </tr>
      <tr>
        <td>Crew on site?</td>
        <td><%= excavator.crew_on_site %></td>
      </tr>
    </table>
    <br>
  <% end %>
<% end %>

<div class="ticket-map my-5">
  <% if @map_image != nil %>
    <img src="data:image/png;base64, <%= Base64.strict_encode64(@map_image) %>">
  <% end %>
</div>
<br>
